body{
	margin-left: 10%;
	margin-right: 10%;
	padding: 0px 0px 0px 0px;
	font-family: Microsoft YaHei;
	background-color:#EFEFEF;
}
#page3{
	padding: left 2%;
	padding-right:2%;
	padding-bottom:1%;
	display: table;
	border-spacing: 10px;
	background-color:white;
	border: 2px solid #1c1c99;
}


div#tableRow {
	display: table-row;
}

section#short {
    display: table-cell;
    background-color: #473761;
    width: 30%;
    padding: 15px;
    vertical-align: top;
}

/* added section#blog for blog */
section#long {
  display: table-cell;
  background:       #46478e  top left;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

aside {
  display: table-cell;
  background:       #273d77 bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}
footer {
	color:            #453717;
	text-align:       center;
	padding:          15px;
	margin: 0px 10px 10px 10px;
	font-size:        90%;
}